.idea
bootstrap
config
files
storage
/vendor/
.cache
.env
.env.development
.env.example
.env.local
.env.production
.env.staging
.phpcs-cache
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
:memory
composer.lock
index.php
